
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

.si2{
    font-family: SF Pro Text, sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 400;
}
@media screen and(max-width:350px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}
form{
    width: 343px;
    height:150px;
}
.mail{
    color: #BBC3C6;
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 20px;
}
input{
    width: 343px;
    height: 48px;
    box-sizing: border-box;
    display: inline-block; 
    margin-top:2vh;
    font-size:17px;
    border-radius: 10px;
}
::placeholder{
    color: #BBC3C6;
    text-align: center;
}
input[type=text]{
    border: 1px solid #ccc;
  }
  
  input[type=submit]{
    border:none;
    cursor: pointer;
    background-color:#0B8BD2;
    color:white;
  }
  input[type=submit]:focus{
      border:none;
      outline: none;
      background-color: #066da5;
  }
  input[type=submit]:hover{
    background-color: #188dccda;
  }
.remember{
    color:#0B8BD2;
    font-size: 17px;
}