.lifeStyle{
    border: 1px solid #ccc;
    max-width: 343px;
    width: 90%;
    height: 48px;
    margin-right:0;
    margin-left:0;
    font-family: SF Pro Text;
    box-sizing: border-box;
    display: inline-block; 
    margin-top:1.5vh;
    font-size:17px;
    border-radius: 10px;
    text-decoration: none;
}
.lifeStyle span{
    font-family: SF Pro Text;
    font-size: 16px;
    line-height: 24px;
    color: #2C2A26;
}