@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
.d{
        font-family: SF Pro Text;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
}
.container{
    text-align: center;
    margin:0px;
    padding: 0px;
}