:root{
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
}
.bodyAll{
    height:100vh;
    width: 100%;
}
.row,.col-12 col,.col-sm-2, .col-md-3,.col-lg-4, .col-sm-8, .col-md-6, .col-lg-4,.container{
    margin:0;
    padding: 0;
}
@media screen and(max-width:350px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}
.logo{
   height:65%;
   width: 100%;
   align-items: flex-end;
   display: flex;
   justify-content: center;
}
.heading{
    margin-top: 2vh;
    text-align: center;
}
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
container{
    text-align: center;
}
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
.s{
    font-family: SF Pro Text, sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ser{
   height:20%;
   width: 100%;
   align-items: flex-end;
   display: flex;
   justify-content: center;
}
