.profile{
    background: #E5E5E5;
    height: 100vh;
    width: 100%;
}
.div{
    margin-top: 7px;
    background-color: white;
}
.rec p{
    font-family: SF Pro Text;
    font-size: 14px;
    line-height: 20px;
    color: #BBC3C6;
}
.rec span{
    font-family: SF Pro Text;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: #000000;
    font-weight: bold;
}
.rec{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5%;
}
.rec-container{
    background-color: white;
    width: 100%;
}
.sliderDiv{
   margin-top: 50%;
	width: 100%;
    display: flex;
}
.wrapper{
  width:100%;
  text-align:center;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.text{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: calc(100%-32px);
    background-color: white;
}
.textDiv{
    padding-top: 20px;
}
.textDiv p{
    font-family: SF Pro Text;
    font-size: 16px;
    line-height: 24px;
    color: #2D3142;
    font-weight: 540;
}
.container{
    text-align: center;
    justify-content: center;
}