.sp{
    margin-top: 2vh;
    font-family: SF Pro Text;
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
    line-height: 20px;
    color: #BBC3C6;
}
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
container{
    text-align: center;
}
.bodyPart{
    margin-top: 5vh;
}
@media screen and(max-width:350px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}