.forget{
    color:#0B8BD2;
    font-size: 17px;
    margin-top:20%;
}
.phone{
  margin-top: 2vh;
}
.bodySignin{
  margin-top: 5vh;
  width:98%;
  margin-left: 1%;
}
.row,.col-12,.col-sm-2,.col-4,.col-sm-4, .col-9, .col-sm-8, .col-md-3,.col-lg-4, .col-sm-8, .col-md-6, .col-lg-4,.container{
  margin:0;
  padding: 0;
}
@media screen and(max-width:350px){
  .bodySignin{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
  }
}
.topNav{
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  overflow: hidden;
  top:0;
  background-color: white;
  padding-bottom: 10px;
  text-align: left;
}
.centerText{
  display: inline-block;
  width: 80%;
  max-width: 250px;
  height: 40px;
  position: fixed;
  top:15px;
  margin-left: 6%;
}
.posBtn{
  display: inline-block;
  height: 50px;
  width: 50px;
}
.bodyRegister{
   padding-top:100px;
}
.bottom{
 margin-top: 70%;
 margin-bottom: 40px;
}
.hr{
  background: #E4E4E4; height:1px; width: 100%;position: fixed;
  z-index: 5;
  overflow: hidden;
  top:50px;
}
.podText{
  font-family: SF Pro Text;
  font-size: 16px;
  line-height: 24px;
  color:#999999;
  text-align: center;
}